body{ 
background-color: darkgrey;
font-size: 18px;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

main{
    display: flex;
}

section{
    display: flex;
    flex-direction: column;
}
.sidenav{
    margin: 10px;
    background-color: aliceblue;    
    min-width: 200px;
}

h1{
    align-items: center;
    border-bottom: 3px;
    color: red; 
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
article {

    flex: 1
}

article:nth-of-type(3) {
    flex: 2;

}

.flexContainer{
   display: flex;
   background-color: bisque; 
}

.flexGrowContainer{
    display: flex;
    align-items: stretch;
    background-color: blueviolet;
}

a{
    color: red;
}
a:hover{color: blue;}

img {
    border: 1px solid red;
    padding: 10px 250px;
    opacity: 0.5;
}