body{
    background-color: azure;
}

header{
    background-color: grey;
}

footer{
    background-color:black ;
    color: burlywood     ;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    height: 70px;
    width: 100%;
}